<!DOCTYPE html>
<html lang="en">

  <head>
	{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Birlikte.al Owner Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">


  </head>

  <body class="bg-dark">

    <div class="container">

      <div class="card card-register mx-auto mt-5">
        <div class="card-header">
          Register an Account
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
	    			{% csrf_token %}
	    			{% for field in form %}
            <div class="form-group">
                <div class="col-md-6">
								{{ field.label_tag }} <br>
								{{ field }}
              	{% for error in field.errors %}
                <p style='color:red'> {{ error }} </p>
              	{% endfor %}
                </div>
            </div>
						<br>
						{% endfor %}
            <input class="btn btn-primary btn-block" type="submit" value="Register" />
          </form>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

  </body>

</html>
